.cuisineList {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.restaurantsPage {
    background-color: #e5e5e5;;
    font-size: 18px;
    padding: 10px 0;
}

