.button {
    display: inline-block;
    padding: 5px 12px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

/* .button__dish {
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
} */



.light {
    color: black;
    background-color: wheat;
}

.dark {
    color: wheat;
    background-color: black;
}