.counter {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dishCounter {
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: 36px;
    height: 36px;
}

.dark {
    background-color: #f0ad4e;
    color: black;
}


.light {
    background-color: black;
    color: #f0ad4e;
}