.authorization {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.authorization__username {
  display: none;
}

.authorization__button {
  color: white;
}

/* Vertical Tablet */
@media (min-width: 768px) {
  .authorization__username {
    display: block;
    color: white;
    font-size: 20px;
  }
}
